<h1>Edit Topic</h1>

 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for topics:</p>
     <ul>
       <li>Keep topic names concise.</li>
       <li>Use description box to describe'r like a scriber would script on a trip, on a train, not a ship, doing work like a clerk, who lost notes from a toast, that at most, were just boasts how the youths, with a truce, settled score from before, with results of adults; using commas, making dramas, <i>touch</i>ing files, errored trials, now the tests cause unrest, never passing, always crashing 'til the green can be seen, means it tells of no fails, prompting urge to git merge, so much faster, back on master.</li>
       <li>Any keywords should be entered as labels.</li>
     </ul>
   </div>

   <div class="col-md-8">
     <%= form_for @topic do |f| %>
       <div class="form-group">
         <%= f.label :name %>
         <%= f.text_field :name, class: 'form-control', placeholder: "Enter topic name" %>
       </div>

       <div class="form-group">
         <%= f.label :description %>
         <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Enter topic description" %>
       </div>

       <div class="form-group">
         <%= render partial: 'labels/form', locals: { f: f, labels: @topic.labels } %>
       </div>

       <div class="form-group">
         <%= f.label :public, class: 'checkbox' do %>
           <%= f.check_box :public %> Public topic
         <% end %>
       </div>
       <%= f.submit "Save", class: 'btn btn-success' %>
     <% end %>
   </div>
 </div>
