<div class="media">
  <%= render partial: 'votes/voter', locals: { post: post } %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to post.title, topic_post_path(post.topic, post) %>
      <%= render partial: "labels/list", locals: { labels: post.labels } %>
    </h4>
    <small>

      <!-- # Confirm file type before going ham on a partial
      # app/views/layouts/application.html.erb.
      <%= image_tag current_user.avatar_url(48), class: "gravatar" %>
      <div class="pull-right"> <%= link_to current_user.name, user_path(current_user... "Sign Out," etc. -->

      <%= image_tag User.avatar_url(current_user, 48), class: "gravatar", style: "float: left; margin-top: 5px" %>
      <%= time_ago_in_words(post.created_at) %> ago.
      <br>
      Submitted by <%= post.user.name %> <br>
      <%= post.comments.count %> Comments
    </small>
  </div>
</div>
